[Unit]
Description=Swayidle
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=swayidle -w \
    timeout 600 'swaylock' \
    timeout 660 'niri msg action power-off-monitors' \
    resume 'niri msg action power-on-monitors' \
    before-sleep 'swaylock'
Restart=on-failure

[Install]
WantedBy=default.target

